<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym System</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/stick2.css">
</head>
<body>
   <div class="container">
       <div class="welcome">
            <i class="far fa-comment-alt fa-2x"></i>
            <h3>Welcome Back!</h3>
       </div>
        <div class="form-container">
            <form action="" class="">
                <div class="hide"><p>Incorrect Username or Password</p></div>
                <input type="text" name="user" id="user" placeholder="User" required>
                <input type="text" name="pass" id="pass" placeholder="Password" required> 
                <button class="send" type="button"> Log in</button>
            </form>
        </div>
   </div> 
</body>
</html>